In [5]:
# Identify the data type of the following values:
# 99.9 - float
# "False" - string
# False - boolean
# '0' - string
# 0 - int
# True - Boolean
# 'True' - string
# [{}] - empyt dictionary in a list of one
# {'a':[]} - dictionary


# A term or phrase typed into a search box? - string
# If a user is logged in? - boolean
# A discount amount to apply to a user's shopping cart? - int in a dictionary
# Whether or not a coupon code is valid? - boolean
# An email address typed into a registration form? - a string in a list or dictionary
# The price of a product? - int in a dictionary or list
# A Matrix? - int in a list or touple
# The email addresses collected from a registration form? - string in a list
# Information about applicants to Codeup's data science program? NoneType

In [7]:
'1' + 2 # 12 | error

TypeError: can only concatenate str (not "int") to str

In [8]:
6 % 4 # 2 | correct

2

In [9]:
type(6 % 4) # int | correct

int

In [10]:
type(type(6 % 4)) # error? string? | type

type

In [11]:
'3 + 4 is ' + 3 + 4 # 3 + 4 is 12 | error

TypeError: can only concatenate str (not "int") to str

In [12]:
0 < 0 # false | correct

False

In [13]:
'False' == False # true | false

False

In [14]:
True == 'True' # False | correct

False

In [15]:
5 >= -5 # True | correct

True

In [16]:
True or "42" # error | True ... not sure how other than no arguement

True

In [17]:
6 % 5 # 1 | correct

1

In [18]:
5 < 4 and 1 == 1 # False | correct

False

In [19]:
'codeup' == 'codeup' and 'codeup' == 'Codeup' # False | correct

False

In [20]:
4 >= 0 and 1 !== '1' # error | correct

SyntaxError: invalid syntax (2521566564.py, line 1)

In [21]:
6 % 3 == 0 # True | correct

True

In [22]:
5 % 2 != 0 # True | correct

True

In [23]:
[1] + 2 # [3] | error

TypeError: can only concatenate list (not "int") to list

In [24]:
[1] + [2] # [3] | [1,2]

[1, 2]

In [25]:
[1] * 2 # [2] | [1,1]

[1, 1]

In [26]:
[1] * [2] # [2] | error

TypeError: can't multiply sequence by non-int of type 'list'

In [27]:
[] + [] == [] # True | correct

True

In [28]:
{} + {} # {} | error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [32]:
#You have rented some movies for your kids: 
# #The little mermaid (for 3 days), 
# Brother Bear (for 5 days, they love it), and 
# Hercules (1 day, you don't know yet if they're going to like it). 
# If price for a movie per day is 3 dollars, 
# #how much will you have to pay?

# 3 movies, so 3 instances in list
days = [3,5,1]
cost = 3.00
ttl = 0
for x in days:
    ttl = ttl + (x * cost)
print(ttl)

27.0

In [34]:
# Suppose you're working as a contractor for 3 companies: 
# Google, Amazon and Facebook, they pay you a different rate per hour. 
# Google pays 400 dollars per hour, Amazon 380, and Facebook 350. 
# How much will you receive in payment for this week? 
# You worked 10 hours for Facebook, 
# 6 hours for Google and 4 hours for Amazon.

gglpay = 400
amazpay = 380
fcbkpay = 350
gglhrs = 6
amazhrs = 4
fcbkhrs = 10
ttl = ttl + gglhrs*gglpay
ttl = ttl + amazhrs*amazpay
ttl = ttl + fcbkhrs*fcbkpay
print (ttl)

7447.0

In [ ]:
#A student can be enrolled to a class only if the class is not full and 
# the class schedule does not conflict with her current schedule.

if classmax != classenrolled and classSchedule <> personalSchedule

In [ ]:
#A product offer can be applied only if people buys more than 2 items, 
# and the offer has not expired. 
#Premium members do not need to buy a specific amount of products.
if class:premiumMember != True
    and qnty > 2
    and offerdate > now()
    ProductOffer == True
    else
    productOffer == True

In [44]:
#Continue working in your data_types_and_variables.py file. 
# Use the following code to follow the instructions below:
username = 'codeup'
password = 'notastrongpassword'

goodpass = True
if len(password) < 5:
    goodpass = False
if len(username) > 21:
    goodpass = False
if username == password:
    goodpass = False
if username [:0] == " " or username [:-1] == " ":
    goodpass = False
print(goodpass)

True